@font-face {
	font-family: "Digital";
	src:url("/fonts/digital-7.woff2")
			format("woff2"),
		url("/fonts/digital-7.woff")
			format("woff"),
		url("/fonts/digital-7.ttf")
			format("truetype");
}

body {
	margin: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
